<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/styles.css" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Acme&display=swap"
      rel="stylesheet"
    />
    <title>Página inicial</title>
  </head>
  <body>
    <div class="container-app">
      <div class="header">
        <p class="title-header">Aqui é o Cabeçalho</p>
      </div>
      <div class="container">
        <div class="container-suggestions">
          <div class="search-list">
            <p class="title-list">Lista sugerida</p>
            <ul class="list">
              <li class="item">
                <div class="item-side-left">
                  <p id="origin-name">Origem: tal</p>
                  <p id="destiny-name">Destino: tal</p>
                  <p id="price-name">Preço: tal</p>
                </div>
                <div class="item-side-right">
                  <button class="button-class">Comprar</button>
                </div>
              </li>
              <li class="item">
                <div class="item-side-left">
                  <p id="origin-name">Origem: tal</p>
                  <p id="destiny-name">Destino: tal</p>
                  <p id="price-name">Preço: tal</p>
                </div>
                <div class="item-side-right">
                  <button class="button-class">Comprar</button>
                </div>
              </li>
              <li class="item">
                <div class="item-side-left">
                  <p id="origin-name">Origem: tal</p>
                  <p id="destiny-name">Destino: tal</p>
                  <p id="price-name">Preço: tal</p>
                </div>
                <div class="item-side-right">
                  <button class="button-class">Comprar</button>
                </div>
              </li>
            </ul>
          </div>
        </div>
        <div class="container-search">
          <div class="search-attr">
            <div class="inputs">
              <p class="subtitle">Origem:</p>
              <input
                type="text"
                class="input-search"
                id="origin"
                name="origin"
                placeholder="informe a origem"
              />
              <p class="subtitle">Destino:</p>
              <input
                type="text"
                class="input-search"
                id="destiny"
                name="destiny"
                placeholder="informe o destino"
              />
            </div>
            <button class="button-class" type="submit">pesquisar</button>
          </div>
          <div class="search-list">
            <p class="title-list">Resultado para a pesquisa:</p>
            <ul class="list">
              <li class="item">
                <div class="item-side-left">
                  <p id="origin-name">Origem: tal</p>
                  <p id="destiny-name">Destino: tal</p>
                  <p id="price-name">Preço: tal</p>
                </div>
                <div class="item-side-right">
                  <button class="button-class">Comprar</button>
                </div>
              </li>
              <li class="item">
                <div class="item-side-left">
                  <p id="origin-name">Origem: tal</p>
                  <p id="destiny-name">Destino: tal</p>
                  <p id="price-name">Preço: tal</p>
                </div>
                <div class="item-side-right">
                  <button class="button-class">Comprar</button>
                </div>
              </li>
              <li class="item">
                <div class="item-side-left">
                  <p id="origin-name">Origem: tal</p>
                  <p id="destiny-name">Destino: tal</p>
                  <p id="price-name">Preço: tal</p>
                </div>
                <div class="item-side-right">
                  <button class="button-class">Comprar</button>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer">aqui é o footer</div>
    </div>
  </body>
</html>
