html {
  font-family: Acme, sans-serif;
}

body {
  padding: 0;
  margin: 0;
}

.header {
  background-color: #6b2aee;
  text-align: center;
  padding: 20px 0 20px 0;
}

.container-app {
  margin: 0;
  padding: 0;
}

.title-header {
  color: white;
  font-size: 30px;
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  justify-content: space-around;
  padding: 10px 0 10px 0;
}
.title-list {
  color: black;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.inputs {
  display: flex;
  margin: 8px;
}

.input-search {
  margin: 5px;
  width: 110px;
  border-bottom: 2px solid #6b2aee;
  border-top: 0;
  border-left: 0;
  border-right: 0;
}

.input-search:focus-visible {
  border-radius: 3px;
  outline: #6b2aee solid 1px;
}
.subtitle {
  padding: 0;
  margin: 5px 5px 0 0;
}

.search-attr {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.button-class {
  background-color: #6b2aee;
  color: white;
  border-radius: 4px;
  border: 2px solid #5f17f0;
  box-shadow: 0 1px 8px #5f17f0;
  font-size: 17px;
  font-family: Acme, sans-serif;
  transform: scale(0.95);
  transition: all ease 0.3s;
  cursor: pointer;
}

.button-class:hover {
  transform: scale(1);
  background-color: white;
  color: #6b2aee;
}

.button-class:active {
  position: relative;
  top: 2px;

  box-shadow: none;
}

.search-list {
  margin-top: 10px;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style-type: none;
}

.footer {
  background-color: #6b2aee;
  text-align: center;
}

.item {
  display: flex;
  justify-content: space-between;
  background-color: #02e7d9;
  margin: 2px 0 5px 0;
  padding: 5px;
  border-radius: 4px;
  border: 1px solid rgb(179, 179, 179);
  box-shadow: 0 1px 5px grey;
  font-size: 20px;
  transform: scale(0.9);
  width: 200px;
  transition: all ease 0.5s;
}

.item p {
  padding: 3px;
  margin: 0;
}

.item:hover {
  transform: scale(1);
  width: 250px;
}

.container-suggestions {
  width: 400px;
}

.item button {
  margin-top: 40%;
}
